*{
    overflow: clip;
    width: auto;
    margin: 0px;  
    padding: 0px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

body{
    background-color: rgb(32, 32, 32);
    position: relative;
}

form{
    grid-area: header-search-space;
}

/* Header */
header{
    padding: 10px;
    background-color: black;
    width: 100vw;
    height: 45px;
    line-height: 45px;
    position: sticky;
    display: grid;
    grid-template-columns: 4% 170px 4% 1fr 30% 4% 10%;
    grid-template-areas: 
    'Lspace-none logo Cspace-none nav header-search-space right-space sign-in';
    z-index: 1;
}

/* Header Search Div */
.header-search-div{
    height: 30px;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-areas: 
    'search-logo input-poisk';
    background-color: rgb(32, 32, 32);
    padding: 5px;
    border-radius: 30px;
    margin-top: 3px;
}

.header-search-div img{
    height: 30px;
    display: inline-block;
    grid-area: search-logo;
   
}

#header-search{
    margin-left: 5px;
    display: inline-block;
    grid-area: input-poisk;
    outline: none;
    color: white;
    border: none;
    background-color: rgb(32, 32, 32);
   
}

/* Header Logo */
header .logo{
    border-radius: 30px;
    font-size: 200%;
    font-weight: 600;
    height: fit-content ;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    grid-area: logo;
    display: inline-block;
    
}

/* Header Nav List */
header nav{
    display: inline-block;
    margin-top: -10px;
    grid-area: nav;
    width: fit-content;
}

header nav li{
    padding: 10px;
    display: inline-block;  
    list-style: none;
}

header nav li a{
    text-decoration: none;
    color:  orange;
    font-size: 100%;
}

/* Hader Login Button */
header a.LogIn{
    position: absolute;
    text-align: center;
    grid-area: sign-in;
    font-size: 120%;
    color: orange;
    text-decoration: none;
    font-weight: 400;
}

/* SideMenu */
aside{
    position: fixed;
    background-color: rgb(17, 17, 17);
    display: inline-block;
    width: 200px;
    height: 100vh;
    overflow: auto;
    
}

/* Side Menu List  */
aside .menu-list{
    margin-top: 30px;
}

aside .menu-list li{
    margin-left: 10%;
    margin-top: 10px;
}

aside .menu-list li a{
    color: orange;
}

/* Side Top Char List */
aside .top-chart-list{
    margin-top: 20px;
}

aside .top-chart-list li{
    margin-left: 10%;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* All Hover */
aside .top-chart-list a:hover{
    color: rgb(138, 138, 138);
}

header nav li a:hover{
    color: rgb(201, 130, 0)
}

header .LogIn:hover{
    color: rgb(201, 130, 0)
}

aside .menu-list li a:hover{
    color: rgb(201, 130, 0)
}

.sub:hover{
    background-color: rgb(201, 130, 0)
}

/* SideBar Settings */
.main-text-side{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}

aside::-webkit-scrollbar{
    /* Delete SideScrollbar */
    display: none;
}

.sub{
    background-color: orange;
    color:black;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px;
    margin-left: 10px;
}

main{
    position:absolute;
    right: 100px;
}

